/*Bootstrap Overrides */
.container{
  padding: 0 !important;
  width: 840px !important;
}

/* Top Bar */
.top-bar{
  width: 100%;
  background: linear-gradient(to bottom, #2498f4, #1d85d8);
  padding: 6px 0;
}
.top-bar a {
  display: inline-block;
  color: white;
  padding: 2px 8px;
  float: right;
  border-left: 1px solid #1c85d8;
  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: color 0.3s;
}
.top-bar .top-bar-name{
  font-size: 10px;
  line-height: 26px;
  padding-right: 15px;
  top: 1;
}
.top-bar a:last-of-type{
  border: none;
}
.top-bar a:first-of-type{
  padding-right: 0;
}
.top-bar a:hover {
  text-decoration: none;
  color: #134670;
}

/* Main Navigation */
.main-nav{
  width: 100%;
  height: 111px;
  background: #134670;
  position: relative;
  display: flex;
}

.main-nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-nav-background.b-stripes {
  background-image: url(../img/stripes.png);
  background-repeat: repeat;
  height: 75px;
}
.main-nav-background.b-shadows {
  background-image: url(../img/shadows.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-nav-fade {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  z-index: 2;
}
.main-nav-fade.f-left{
  background: linear-gradient(to right, rgba(19, 70, 112, 1), rgba(19, 70, 112, 0));
}
.main-nav-fade.f-right{
  background: linear-gradient(to left, rgba(19, 70, 112, 1), rgba(19, 70, 112, 0));
}

.main-nav-icons{
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  background: none;
  display: block;
  height: 100%;
  z-index: 2;
  flex-basis: content;
}
.main-nav-icons li {
  display: inline-block;
  font-size: 48px;
  color: white;
  margin: 20px 6px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.main-nav-icons li::before {
  background: #229eff; /* fallback */
  background: -webkit-linear-gradient(-90deg, #229eff, #1e87da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.main-nav-icons li::after{
  content: ' ';
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: url(../img/icon-shadow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: top 0.5s;
}

/* Position Tweaks */
.main-nav-icons li.i-dashboard::before{
  font-size: 60px;
}
.main-nav-icons li.selected::before, li:hover::before{
  background: #33cc66; /* Fallback */
  background: -webkit-linear-gradient(-90deg, #33cc66, #93f8b8);
  -webkit-background-clip: text;
}
.main-nav-icons li:hover::after{
  top: 115%;
}

.main-nav-icons li.i-customers::before{
  width: 70px;
}
.main-nav-icons li.i-messages::before {
  width: 55px;
}
