/*Bootstrap Overrides */
.container{
  padding: 0 !important;
  max-width: 970px !important;
}

/* Global Styles */
body {
  font-family: "myriad-pro", sans-serif;
  font-size: 14px;
  color: #222;
}

/* Top Bar */
.top-bar{
  width: 100%;
  background: linear-gradient(to bottom, #2498f4, #1d85d8);
  padding: 6px 0;
}
.top-bar a {
  display: inline-block;
  color: white;
  padding: 2px 8px;
  float: right;
  border-left: 1px solid #1c85d8;
  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: color 0.3s;
  cursor: pointer;
}
.top-bar .top-bar-name{
  font-size: 14px;
  line-height: 26px;
  padding-right: 15px;
  top: 1;
}
.top-bar a:last-of-type{
  border: none;
}
.top-bar a:first-of-type{
  padding-right: 0;
}
.top-bar a:hover {
  text-decoration: none;
  color: #aaa;
}

/* Main Navigation */
.main-nav{
  width: 100%;
  height: 111px;
  background: #134670;
  position: relative;
  display: flex;
}

.main-nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-nav-background.b-stripes {
  background-image: url(../img/stripes.png);
  background-repeat: repeat;
  height: 75px;
}
.main-nav-background.b-shadows {
  background-image: url(../img/shadows.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-nav-fade {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  z-index: 2;
}
.main-nav-fade.f-left{
  background: linear-gradient(to right, rgba(19, 70, 112, 1), rgba(19, 70, 112, 0));
}
.main-nav-fade.f-right{
  background: linear-gradient(to left, rgba(19, 70, 112, 1), rgba(19, 70, 112, 0));
}

.main-nav-icons{
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 0;
  background: none;
  display: block;
  height: 100%;
  z-index: 2;
  flex-basis: content;
}
.main-nav-icons li {
  display: inline-block;
  font-size: 48px;
  color: white;
  margin: 20px 6px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.main-nav-icons li::before { /* icon font */
  background: #229eff; /* fallback for non-webkit */
  background: -webkit-linear-gradient(-90deg, #229eff, #1e87da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.main-nav-icons li::after{ /* shadow underneath icons*/
  content: ' ';
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: url(../img/icon-shadow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: top 0.5s;
}
/* Position Tweaks */
.main-nav-icons li.i-dashboard::before{
  font-size: 55px;
}
.main-nav-icons li.i-customers::before{
  width: 70px;
}
.main-nav-icons li.i-messages::before {
  width: 55px;
}
/* Position Tweaks */
.main-nav-icons li.selected::before, .main-nav-icons li:hover::before{
  background: #33cc66; /* Fallback for non-webkit */
  background: -webkit-linear-gradient(-90deg, #33cc66, #93f8b8);
  -webkit-background-clip: text;
  margin-top: -25px;
}
.main-nav-icons li:hover::after{
  top: 110%;
}

.main-nav-caret {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 0px;
  height: 0px;
  border: 17px solid transparent;
  border-bottom-color: #fff;
  border-bottom-width: 8px;
  transition: left 0.5s;
}

/* Main Content Styling */
.page-header {
  background: #33cc66;
  border-radius: 5px;
  margin: 15px 5px;

}
.page-header .page-title {
  display: inline-block;
  margin: 12px 24px;
  font-size: 36px;
  font-weight: 400;
  color: white;
}
.page-header .search-box {
  display: inline-block;
  margin: 20px 15px;
  font-size: 14px;
  padding: 7px 40px 7px 10px;
  width: 258px;
  vertical-align: top;
  float: right;
  border-radius: 2px;
  border: 1px solid #2db55b;
  outline-color: #2db55b;
  outline-offset: -1px;
  z-index: 1;
}
.page-header .i-search {
  display: inline-block;
  position: relative;
  width: 0;
  line-height: 75px;
  font-size: 20px;
  color: #2498f4;
  float: right;
  left: -50px;
  text-decoration: none;
  transition: color 0.3s;
}
.page-header .i-search:hover{
  color: #134670;
}

/* Wide gradient around .page-inner */
.gradient-border {
  position: relative;
  background: blue;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f6f6f6 0%, #fff 250px, #fff 100%);
  border-radius: 10px;
  padding: 15px;
}
/* Using pseudoelement to create the border's gradient border */
.gradient-border::before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: red;
  border-radius: 10px;
  background: linear-gradient(to bottom, #eee 0%, #fff 250px, #fff 100%);
}

.page-inner{
  width: 100%;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  min-height: 1000px;
}
