body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  background: #A5D8FF;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
}

section {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 3em;
  margin: 100px 0;
  overflow: hidden;
}
section#home {
  color: #222;
  padding-left: 60%;
  margin-top: 0;
  padding-top: 0;
}
section#warehouse {
  color: #fff;
  padding-right: 60%;
}
section#outside {
  color: #FAFAFA;
  padding-left: 60%;
}

.slide {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide p {
  line-height: 22px;
}
.slide b {
  color: #FFCB44;
}

.slide.home-1 h1 {
  font-size: 65px;
  text-align: center;
}
.slide.home-1 h4 {
  text-align: center;
  font-weight: normal;
  font-family: 'Quattrocento Sans', sans-serif;
}
.slide.home-1 .ground {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1015px;
  height: 90px;
  background-image: url(../img/ground.svg);
}
.slide.home-1 .laptop {
  position: absolute;
  bottom: 80px;
  left: -600px;
  width: 500px;
}

.slide.home-1 .cloud {
  position: fixed;
  top: 0;
  left: 0;
}

.slide.home-1 .cloud.cloud-1 {
  width: 300px;
  top: 0;
  left: 0;
}
.slide.home-1 .cloud.cloud-2 {
  width: 270px;
  top: 120px;
  left: 45px;
}
.slide.home-1 .cloud.cloud-3 {
  width: 300px;
  top: 0px;
  left: 355px;
}
.slide.home-1 .cloud.cloud-4 {
  width: 300px;
  top: 50px;
  left: 560px;
  transform: translateY(-50%);
}
.slide.home-1 .cloud.cloud-5{
  width: 480px;
  left: calc(60% - 500px);
  top: 115px;
}
.slide.home-1 .cloud.cloud-6 {
  width: 400px;
  left: 830px;
}
.slide.home-1 .cloud.cloud-7 {
  width: 200px;
  left: 1180px;
  top: 80px;
}

.slide.home-2 .server {
  width: 300px;
  position: fixed;
  top: 100px;
  left: 30%;
  opacity: 0;
  z-index: -1;
  transform: scale(0.25);
}
.slide.home-2 .arrow {
  width: 140px;
  position: fixed;
  top: 300px;
  left: 48%;
  opacity: 0;
  z-index: -1;
  transform: rotate(-90deg);
}

.slide.home-3 .fufillment-center {
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}
.slide.home-3 .fufillment-arrow {
  position: fixed;
  width: 25%;
  top: 50%;
  left: 10%;
  transform: rotate(90deg);
  opacity: 0;
}

.slide.warehouse-1 .robot {
  position: fixed;
  top: -200px;
  left: 100px;
  width: 90px;
}
.slide.warehouse-1 .shelves {
  position: absolute;
  left: 150%;
  top: 90px;
  width: 400px;
}
.slide.warehouse-1 .single-shelf {
  position: absolute;
  left: calc(150% + 152px);
  top: 248px;
  width: 96px;
  z-index: 2;
}

.slide.warehouse-2 .crate {
  position: absolute;
  left: calc(150%);
  width: 100px;
  top: 450px;
}

.slide.warehouse-3 .box {
  position: absolute;
  left: calc(150% + 50px);
  width: 100px;
  top: 440px;
}
.slide.warehouse-3 .box .box-state {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.slide.warehouse-3 .box .box-state.active{
  opacity: 1;
}

.slide.warehouse-4 .truck {
  position: absolute;
  top: 55%;
  width: 350px;
  transform: rotate(-90deg);
}
.slide.warehouse-4 .truck.truck-1 {
  left: 90%;
}
.slide.warehouse-4 .truck.truck-2 {
  left: calc(90% + 125px);
}
.slide.warehouse-4 .truck.truck-3 {
  left: calc(90% + 250px);
}
.slide.warehouse-4 .truck.truck-4 {
  left: calc(90% + 375px);
}
.slide.warehouse-4 .truck.truck-5 {
  left: calc(90% + 500px);
}

#outside .road {
  position: absolute;
  height: 70%;
  width: 200px;
  left: 22%;
  background: #333;
  z-index: -1;
  overflow: hidden;
}

#outside .road::after {
  content: ' ';
  position: absolute;
  left: calc(50%);
  top: 0;
  height: 100%;
  width: 0;
  border-right: 1px dashed #E2DC2D;
  -webkit-transform: scale(10);
  transform: scale(10);
}

.slide.outside-1 .plane {
  position: fixed;
  left: -150px;
  top: 50%;
  width: 125px;
  z-index: 10;
}

.slide.outside-2 .regional-center {
  position: absolute;
  left: -150%;
  top: 45%;
  width: 140%;
  background: #5FB156;
  height: 375px;
}
.slide.outside-2 .regional-center img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

#outside .house-container {
  position: relative;
  width: 250%;
  text-align: center;
  left: -150%;
  padding-bottom: 25px;
}

#outside .house {
  position: relative;
  display: inline;
  width: 400px;
}

.slide.outside-2 .drone {
  position: absolute;
  left: calc(-150% + 200px);
  top: calc(45% + 100px);
  width: 120px;
  z-index: 2;
}

.slide.outside-2 .drone-box {
  position: absolute;
  left: calc(-150% + 230px);
  top: calc(45% + 125px);
  width: 60px;
  z-index: 2;
}

/* Newsquiz Styles */
section.quiz {
  margin: 0;
  padding: 0 50px;
}
section.quiz .hidden {
  opacity: 0;
}
section.quiz #quiz-container {
  position: relative;
  overflow: hidden;
}
section.quiz ul.quiz{
  height: 500px;
  overflow: hidden;
}
section.quiz li.question_container {
  position: absolute;
  box-sizing: border-box;
  list-style: none;
  top: 0;
  left: calc(100% + 3em);
  width: 100%;
  padding: 20px;
  transition: left 1s;
}
section.quiz li.question_container.current {
  left: 0;
}
section.quiz li.question_container.previous {
  left: calc(-100% - 3em);
}
section.quiz .list-unstyled {
  padding-left: 0;
}
section.quiz .list-unstyled li, section.quiz button{
  display: block;
  list-style: none;
  outline: none;
  background-color: #559D4D;
  padding: 5px 20px;
  margin: 10px 0;
  color: white;
  border: none;
  border-bottom: #478540 4px solid;
  cursor: pointer;
  transition: opacity 0.3s, border-color 0.3s, background-color 0.3s;
}
section.quiz .list-unstyled li:hover{
  background-color: #478540;
}
section.quiz .list-unstyled li:active {
  background-color: #48B7F3;
  border-color: #3E9DCF;
}
section.quiz .list-unstyled li.selected {
  background-color: #48B7F3;
  border-width: 0;
}
section.quiz button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #EBDE58;
  border-color: #D5CA51;
  color: #111;
}
section.quiz button:hover {
  background-color: #D5CA51;
}
section.quiz button:active {
  background-color: #C6BB4B;
  border-color: #C6BB4B;
}
section.quiz button.next-bottom {
  margin-left: 20px;
}
section.quiz .center-container {
  position: relative;
  width: 100%;
  height: 400px;
}
section.quiz .centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 500px;
}
section.quiz .centered p, section.quiz .centered button {
  margin: auto;
}
section.quiz .title {
  color: white;
  font-size: 1.6em;
}
section.quiz .how_you_did {
  color: white;
  font-size: 1.4em;
}
section.quiz .how_you_did a {
  color: white;
}

footer {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 1em;
  color: white;
  text-align: center;
}
footer a {
  color: white;
}

#credits {
  visibility: hidden;
}
.jquery-modal #credits {
  visibility: visible;
}