body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.1em;
  background: #A5D8FF;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
}

section {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 3em;
  margin: 100px 0;
  overflow: hidden;
}
#home {
  color: #222;
  padding-left: 60%;
  margin-top: 0;
  padding-top: 0;
}
#warehouse {
  color: #fff;
  padding-right: 60%;
}
#outside {
  color: #FAFAFA;
  padding-left: 60%;
}

.slide {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide p {
  line-height: 1.6em;
}
.slide b {
  color: #FFCB44;
}

.home-1 h1 {
  font-size: 3.5em;
  text-align: center;
}
.home-1 h4 {
  text-align: center;
  font-weight: normal;
  font-family: 'Quattrocento Sans', sans-serif;
}
.home-1 .ground {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1015px;
  height: 90px;
  background-image: url(../img/ground.svg);
}
.home-1 .laptop {
  position: absolute;
  bottom: 60px;
  left: -120%;
  width: 500px;
}
.home-1 .laptop img {
  width: 100%;
}
.home-1 .laptop .screen {
  z-index: -1;
  position: absolute;
  width: 78%;
  height: 83%;
  left: 12%;
  top: 4%;
  overflow: hidden;
}

.home-1 .laptop .screen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-1 .laptop .screen .checkout {
  left: 100%;
}

.home-1 .cloud {
  position: fixed;
  top: 0;
  left: 0;
}

.home-1 .cloud-1 {
  width: 300px;
  top: 0;
  left: 0;
}
.home-1 .cloud-2 {
  width: 270px;
  top: 120px;
  left: 45px;
}
.home-1 .cloud-3 {
  width: 300px;
  top: 0;
  left: 355px;
}
.home-1 .cloud-4 {
  width: 300px;
  top: 50px;
  left: 560px;
  transform: translateY(-50%);
}
.home-1 .cloud-5{
  width: 480px;
  left: calc(60% - 500px);
  top: 115px;
}
.home-1 .cloud-6 {
  width: 400px;
  left: 830px;
}
.home-1 .cloud-7 {
  width: 200px;
  left: 1180px;
  top: 80px;
}

.home-2 .server {
  width: 30%;
  max-width: 300px;
  position: fixed;
  top: 100px;
  left: 25%;
  opacity: 0;
  z-index: -1;
  transform: scale(0.25);
}
.home-2 .arrow {
  width: 140px;
  position: fixed;
  top: 300px;
  left: 48%;
  opacity: 0;
  z-index: -1;
  transform: rotate(-90deg);
}

.home-3 .fufillment-center {
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}
.home-3 .fufillment-arrow {
  position: fixed;
  width: 25%;
  top: 50%;
  left: 10%;
  transform: rotate(90deg);
  opacity: 0;
}

.warehouse-1 .robot {
  position: fixed;
  top: -200px;
  left: 100px;
  width: 90px;
}
.warehouse-1 .shelves {
  position: absolute;
  left: 150%;
  top: 90px;
  width: 400px;
}
.warehouse-1 .single-shelf {
  position: absolute;
  left: calc(150% + 152px);
  top: 248px;
  width: 96px;
  z-index: 2;
}
.warehouse-2 .crate {
  position: absolute;
  left: calc(150%);
  width: 100px;
  top: 450px;
}

.warehouse-3 .box {
  position: absolute;
  left: calc(150% + 50px);
  width: 100px;
  top: 440px;
}
.warehouse-3 .box .box-state {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.warehouse-3 .box .active{
  opacity: 1;
}

.warehouse-4 .truck {
  position: absolute;
  top: 55%;
  width: 350px;
  transform: rotate(90deg);
}
.warehouse-4 .truck-1 {
  left: 90%;
}
.warehouse-4 .truck-2 {
  left: calc(90% + 125px);
}
.warehouse-4 .truck-3 {
  left: calc(90% + 250px);
}
.warehouse-4 .truck-4 {
  left: calc(90% + 375px);
}
.warehouse-4 .truck-5 {
  left: calc(90% + 500px);
}

#outside .road {
  position: absolute;
  height: 70%;
  width: 200px;
  left: 22%;
  background: #333;
  z-index: -1;
  overflow: hidden;
}

#outside .road::after {
  content: ' ';
  position: absolute;
  left: calc(50%);
  top: 0;
  height: 100%;
  width: 0;
  border-right: 1px dashed #E2DC2D;
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  -webkit-transform: scale(10);
  transform: scale(10);
}

.outside-1 .plane {
  position: fixed;
  left: -150px;
  top: 50%;
  width: 125px;
  z-index: 10;
}

.outside-2 .regional-center {
  position: absolute;
  left: -150%;
  top: 45%;
  width: 140%;
  background: #5FB156;
  height: 375px;
}
.outside-2 .regional-center img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

#outside .house-container {
  position: relative;
  width: 250%;
  text-align: center;
  left: -150%;
  padding-bottom: 25px;
}

#outside .house {
  position: relative;
  display: inline;
}

.outside-2 .drone {
  position: absolute;
  left: calc(-150% + 200px);
  top: calc(45% + 100px);
  width: 120px;
  z-index: 2;
}

.outside-2 .drone-box {
  position: absolute;
  left: calc(-150% + 230px);
  top: calc(45% + 125px);
  width: 60px;
  z-index: 2;
}

/* Newsquiz Styles */
#quiz {
  margin: 0;
  padding: 0 50px;
}
#quiz .hidden {
  opacity: 0;
}
#quiz-container {
  position: relative;
  overflow: hidden;
}
#quiz .quiz{
  height: 520px;
  overflow: hidden;
}
#quiz .question_container {
  position: absolute;
  box-sizing: border-box;
  list-style: none;
  top: 0;
  left: calc(100% + 3em);
  width: 100%;
  padding: 20px;
  transition: left 1s;
}
#quiz .current {
  left: 0;
}
#quiz .previous {
  left: calc(-100% - 3em);
}
#quiz .possible_answers {
  padding-left: 0;
}
#quiz .possible_answers li, #quiz button {
  display: block;
  list-style: none;
  background-color: #559D4D;
  padding: 5px 20px;
  margin: 10px 0;
  color: white;
  border: none;
  border-bottom: #478540 4px solid;
  cursor: pointer;
  transition: opacity 0.3s, border-color 0.3s, background-color 0.3s;
}
#quiz .possible_answers li:hover{
  background-color: #478540;
}
#quiz .possible_answers li:active {
  background-color: #48B7F3;
  border-color: #3E9DCF;
}
#quiz .possible_answers li.selected {
  background-color: #48B7F3;
  border-width: 0;
}
#quiz button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #EBDE58;
  border-color: #D5CA51;
  color: #111;
  outline: none;
}
#quiz button:hover {
  background-color: #D5CA51;
}
#quiz button:active {
  background-color: #C6BB4B;
  border-color: #C6BB4B;
}
#quiz .next-bottom {
  margin-left: 20px;
}
#quiz .center-container {
  position: relative;
  width: 100%;
  height: 400px;
}
#quiz .centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 500px;
}
#quiz .centered p, #quiz .centered button {
  margin: auto;
}
#quiz .title {
  color: white;
  font-size: 1.6em;
}
#quiz .how_you_did {
  color: white;
  font-size: 1.4em;
}
#quiz .how_you_did a {
  color: white;
}

footer {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 1em;
  color: white;
  text-align: center;
  overflow: hidden;
}
footer a {
  color: white;
}
#credits {
  font-size: 0;
}
.jquery-modal #credits {
  font-size: 14px;
}

.show-mobile {
  display: none !important;
}

/* Mobile Styles */
@media only screen and (max-device-width: 768px){
  section, section#home, section#warehouse, section#outside {
    padding: 0 3em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 2rem;
  }
  section .slide {
    height: auto;
    min-height: 100vh;
    flex-flow: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  section .slide-inner {
    width: 100%;
  }
  .hide-mobile {
    display: none !important;
  }
  .show-mobile {
    display: inherit !important;
  }
  
  .home-1 .laptop {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
  }

  .home-2 .server {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    margin-bottom: 200px;
  }

  .home-2 .cloud {
    position: absolute;
  }
  .home-2 .cloud-1 {
    width: 80%;
    left: 0;
    top: 35%;
  }
  .home-2 .cloud-2 {
    width: 70%;
    right: 0;
    top: 20%;
  }
  .home-2 .cloud-3 {
    width: 60%;
    left: 2%;
    top: 24%;
  }
  .home-2 .cloud-4 {
    width: 60%;
    right: 2%;
    top: 35%;
  }
  .home-2 .cloud-5 {
    top: 20%;
    left: 5%;
    width: 90%;
  }

  .home-3 .server {
    width: 60%;
    margin-bottom: 50px;
  }

  .home-3 .fufillment-arrow {
    position: relative;
    margin: 100px 0 150px;
    left: -40%;
    right: 0;
    opacity: 0;
  }

  .home-3 .fufillment-center-mobile {
    width: 100%;
    margin-bottom: 200px;
    transform: scale(0.7);
  }

  .warehouse-1 .robot {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 160px;
  }
  .warehouse-1 .shelves {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    margin: 150px 0;
  }
  .warehouse-1 .single-shelf {
    position: absolute;
    display: block;
    top: 400px;
    left: 38%;
    width: 24%;
  }

  .warehouse-2 .crate, .warehouse-3 .box {
    position: absolute;
    display: block;
    top: 400px;
    left: calc(50% - 100px);
    width: 200px;
  }

  .warehouse-4 .truck {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    margin: 30px 0;
    width: 80%;
    transform: none;
  }

  #outside .road {
    position: relative;
    display: block;
    width: calc(100% + 10em);
    height: 300px;
    top: 0;
    left: -5em;
    margin-top: 200px;
    margin-bottom: 400px;
  }

  #outside .road:after {
    top: calc(50%);
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 1px dashed #E2DC2D;
    -webkit-transform: scale(10);
    transform: scale(10);
  }

  #outside .road .truck-mobile {
    position: relative;
    transform: rotate(180deg);
    margin: 25px auto 0;
    left: calc(50% + 6em);
  }

  #outside .outside-1 {
    min-height: 40vh;
  }

  .outside-1 .plane {
    position: absolute;
    left: calc(-300px - 3em);
    top: -350px;
    width: 300px;
  }

  .outside-2 .regional-center {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    height: auto;
    width: 80%;
    overflow: hidden;
    background: none;
    margin-bottom: 250px;
  }

  .outside-2 .truck-mobile {
    position: absolute;
    top: 32%;
    left: calc(-50% - 3em);
    width: 50%;
  }

  .outside-2 .regional-center img {
    position: relative;
  }

  .outside-2 .drone {
    left: calc(50% - 100px);
    top: 35%;
    width: 200px;
  }

  .outside-2 .drone-box {
    width: 90px;
    left: calc(50% - 45px);
    top: calc(35% + 45px);
  }

  #outside .house-container {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    padding: 200px 0;
  }

  .house-container .drone {
    width: 200px;
    position: absolute;
    top: 0;
    right: calc(-200px - 3em);
    z-index: 2;
  }
  .house-container .drone-box {
    width: 90px;
    position: absolute;
    top: 45px;
    right: calc(-145px - 3em);
    z-index: 2;
  }

  #quiz .quiz {
    margin: 0;
    height: calc(50vh + 20px);
  }
  #quiz .possible_answers {
    font-size: 0;
  }
  #quiz .possible_answers li {
    font-size: 1.7rem;
    margin: 20px;
    display: inline-block;
    width: calc(50% - 80px);
  }
  #quiz button {
    width: 100%;
    padding: 50px;
    font-size: 3rem;
  }
  #quiz .centered {
    width: 80vw;
  }
}